@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 216, 215, 200;
  --background-end-rgb: 216, 215, 200;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 8, 14, 31;
    --background-end-rgb:8, 14, 31;
  }
}*/
.nav{
  background-color:#081626;
}
body {
     font-family: '__Inter_Fallback_f6fa1f', '__Inter_Fallback_Fallback_f6fa1f'; 
      font-style: normal;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

.justify-evenly {
 justify-content: space-evenly;
}
.card{
  min-width: 250px;
  max-width: 500px;
  background-color: #081626;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  position: inherit;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide {
  flex: 0 0 45%; 
  margin: 14px !important/* Default slide covers 100% of the viewport */
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33%;  };

     /* Breakpoint SM slide covers 50% of the viewport */
  }
.Select_slide {
  flex: 0 0 45%; 
  margin: 14px !important/* Default slide covers 100% of the viewport */
}
@media (min-width: 768px) {
  .Select_slide {
    flex: 0 0 28%;  };

     /* Breakpoint SM slide covers 50% of the viewport */
  }
.card-image{
  filter: brightness(0.7)
}

.cardsArea{
  max-width: 100%;
}

.certifiedImage{
  height: 175px;
  color: transparent;
  object-fit: cover;
}

.banner{
  height: 60vh;
  background-color: #081626;
  display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileImage{

  max-height: 50vh !important;
  width: auto;
}
@media (min-width: 400px) {
  .ProfileImage{
    display: block;
  }
  }
  .bannerImage{
    width: 100%;
    z-index: 0;
    opacity: .4;
    bottom: 195px;
  }
.z-4{
  z-index: 4;}
.containeravila{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 60vh;

}
.btn-green{
background-color: #227C70;
}
.vw100{
  width: 100vw;
}
.h-fitcontent{
  height: fit-content;
}
.avila{
  content: ' ';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
  position: relative;
  background-image: url(/aviladark.png);

  background-size: cover;
}
.avila::before{

}
.opacity-1{
  opacity: 1;
}
body::-webkit-scrollbar-track
{

	background-color: #f5f5f500;
}
body::-webkit-scrollbar
{
	width: 6px;
	background-color: #f5f5f500;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;

	background-color: #081626;
}
header{
  position: sticky;
  z-index: 30;
  top: -1px;
}